# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# ChromaDB vector database
vector_db/

# Downloaded audio files
downloads/
downloades/

# Streamlit cache (optional)
.streamlit/secrets.toml

##
www.youtube.com_cookies.txt